<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | Categories-edit </title>
</head>

<body>

    <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>
        <img class="prof" src="../assets/images/prof.svg">
       
    </nav>

    <div class="container">
        <div class="sidebar">
            <div class="side-item">
                <i class="fas fa-home fa-x"> <b>Dashboard</b></i> 
            </div>
            <div class="side-item">
                <i class="fab fa-product-hunt fa-x"> <b>Products</b></i> 
            </div>

            <div class="side-item">
                <i class="fab fa-product-hunt fa-x"> <b>Categories</b></i> 
            </div>
        </div>
        <div class="content-container">
            <div class="head-actions">
              <div class="head-arrow">
            <a href="category.html"><button><i class="fas fa-arrow-left fa-2x"></i></button></a>
            </div>
             <h3 class="head-left">Edit Category</h3>
            </div>

            <div class="table-list">

              <form>
                    <ul>
                    <label>Name</label>
                    </ul>
                    <ul>
                    <input type="text" value="Books">
                    </ul>
                    <ul>
                    <label>Description</label>
                    </ul>
                    <ul>
                    <textarea class="expand" placeholder="This Category all products that qualify as books inluding magazines and Journals"></textarea>
                    </ul>
            </div>
                <hr>
                    <button class="cancel">Cancel</button>
                    <button class="save">Save</button> 
            </form>                                                                                                                                                                                
            </div>
    </div>
    
</body>
<script src="../assets/js/app.js"> </script>
</html>