<nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x" onclick="shownav()"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>

        <div class="dropdown">
            <img class="prof" src="../assets/images/prof.svg">
            <div class="dropdown-content">
              <a href="../../index.html">Logout</a>
            
            </div>
          </div>
       
    </nav>