<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | products </title>
</head>

<body>
    <div class="quicklinks">
    <div class="desc">BigSale - The online store</div>
    <div class="links"> 
    <a href="#">Dashboard</a>
    <a href="#">Profile</a>
    <a href="#">Logout</a>
    </div>
    </div>

    <nav>
        <h1 class="logo">BigSale</h1>
        <form>
        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>
        <img src="../assets/images/cart.png">
    </nav>

    <!-- <div class="banner">
        <img src="../assets/images/banner.jpg">
    </div> -->


   <div class="body-container"> 
    <div class="category">
        <h3 class="cat">CATEGORIES</h3>
        <a href="#"><button> Electoronics <bold> > </bold> </button></a>
        <a href="#"> <button> Groceries > </button></a>
        <a href="#"> <button> Clothing > </button> </a>
    </div>

    <div class="product-list-container">

        <div class="product-container">
            <img src="../assets/images/pad.jpg">
            <div class="product-info">Dual Shock</div>
            <p>price $120</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/pad3.jpg">
            <div class="product-info">mug</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/station.jpg">
            <div class="product-info">xbox pad</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/tv.jpg">
            <div class="product-info">TV</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/mug.jpg">
            <div class="product-info">mug</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>


         <div class="product-container">
            <img src="../assets/images/station.jpg">
            <div class="product-info">xbox pad</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/tv.jpg">
            <div class="product-info">TV</div>
            <p>price $68</p>
             <button>Buy</button>
        </div>

         <div class="product-container">
            <img src="../assets/images/mug.jpg">
            <div class="product-info">mug</div>
            <p>price $68</p>
             <button>Buy</button>
        </div

    </div> 
    </div>

</body>
</html>