<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | Products </title>
</head>

<body>

     <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x" onclick="shownav()"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>

        <div class="dropdown">
            <img class="prof" src="../assets/images/prof.svg">
            <div class="dropdown-content">
              <a href="../../index.html">Logout</a>
            
            </div>
          </div>
       
    </nav>

    <div class="container">
        <div class="sidebar">
            <div class="side-item">
               <a href="dashboard.html"><i class="fas fa-home fa-x"> <b>Dashboard</b></i></a>
            </div>
            <div class="side-item">
               <a href="products.html"> <i class="fab fa-product-hunt fa-x"> <b>Products</b></i> </a>
            </div>

            <div class="side-item">
               <a href="category.html"> <i class="fas fa-briefcase fa-x"> <b>Categories</b></i></a>
            </div>

            <div class="side-item admin">
               <a href="sales.html"> <i class="far fa-money-bill-alt fa-x"> <b>Sales</b></i></a>
            </div>
            <div class="side-item attendant">
               <a href="sales_add.html"> <i class="far fa-money-bill-alt fa-x"> <b>Add Sales</b></i></a>
            </div>

            <div class="side-item attendant">
               <a href="userprofile.html"> <i class="fas fa-user"> <b>Profile</b></i></a>
            </div>
            <div class="side-item attendant">
               <a href="sales_record.html"> <i class="far fa-money-bill-alt fa-x"> <b>My Record</b></i></a>
            </div>
            <div class="side-item admin">
               <a href="users.html"> <i class="fas fa-users"> <b>Users</b></i></a>
            </div>
    </div>
    
        
        <div class="content-container">
              <div id="error-message">
          
            </div>
            <div class="head-actions">
          
           
            <h3> Products</h3>

            </div>
            <a class="btn-left" id="add_products" href="products_add.html"><button>
                Add Product
            </button></a>
         

            <div class="table-list">
                <table>
                    <ul></ul>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <ul>
                        <div class="tr">
                        <button><i class="fas fa-angle-left"></i></button>
                          <button><i class="fas fa-angle-right"></i></button>
                        </div>
                </ul> 
            </div>
        </div>

    </div>
 <!-- Create Modal  -->

    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
          <p>Are you sure you want to delete</p>
          <button class="save">Yes</button> 
          <button class="cancel">No</button>
        </div> 
      </div>

    
</body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closenav()">&times;</a>
 
  <a href="dashboard.html">Dashboard</a>
  <a href="products.html">Products</a>
  <a href="category.html">Categories</a>
  <a href="sales.html">Sales</a>
  <a href="userprofile.html">Profile</a>
  <a href="sales_record.html">My record</a>
  <a href="users.html">Users</a>
</div>
<script src="../assets/js/app.js"> </script>
<script src="../assets/js/protect_products.js"> </script>
<script src="../assets/js/getProducts.js"> </script>
</html>
