<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | login </title>
</head>

<body>

    <nav>
        <h1 class="logo"> BigSale</h1>
        <form>
        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>
        <img src="../assets/images/cart.png">
    </nav>

    <div class="auth-container">
    <div class="option-menu">
            <ul><p class="lead">
            Don't Have an account yet? </p></ul>
            <ul> <img src="../assets/images/auth_tr.png"> </ul>
            <ul><a href="signup.html"><button> REGISTER </button></a><ul>

        </div>
      
        <div class="form-container">
            <ul><h2>Login</h2></ul>
            <form>
            <ul>
            <label>email</label>
            </ul>
            <ul>
            <input type="email">
            </ul>

            <ul>
            <label>password</label>
            </ul>
            <ul>
            <input type="password">
            </ul>
            <ul>
                <button>LOGIN</button>
            </ul>
            </form>
        </div>
          
    </div>

</body>
</html>