<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Store Manager | register</title>
</head>
<body>
    <div id="error-message">
          
    </div>

    <div class="auth-container">
    <div class="option-menu">
            <ul><p class="lead">
            Already Have an account? </p></ul>
            <ul> <img src="../assets/images/auth_tr.png"> </ul>
            <ul><a href="signin.html"><button> LOGIN </button></a><ul>

        </div>
      
        <div class="form-container">
            <ul><h2>Register</h2></ul>
             <form>
            <ul>
            <label>username</label>
            </ul>
            <ul>
            <input id="username" type="text" required>
            </ul>
            
            <ul>
            <label>email</label>
            </ul>
            <ul>
            <input id="email" type="email" required>
            </ul>

            <ul>
            <label>password</label>
            </ul>
            <ul>
            <input id="password" type="password"  required>

            </ul>

            <ul>
            <label>confirm password</label>
            </ul>
            <ul>
            <input id="confirm_password" type="password" required="">
            </ul>

            <ul>
                <button id="submit">REGISTER</button>
            </ul>
            </form>
        </div>
          
    </div>

</body>
<script src="../assets/js/signup.js"> </script>

</html>