<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | UserProfile </title>
</head>

<body>

 <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x" onclick="shownav()"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>

        <div class="dropdown">
            <img class="prof" src="../assets/images/prof.svg">
            <div class="dropdown-content">
              <a href="../../index.html">Logout</a>
            
            </div>
          </div>
       
    </nav>

    
    <div class="card-container">
           <div class="sidebar">
            <div class="side-item">
               <a href="dashboard.html"><i class="fas fa-home fa-x"> <b>Dashboard</b></i></a>
            </div>
            <div class="side-item">
               <a href="products.html"> <i class="fab fa-product-hunt fa-x"> <b>Products</b></i> </a>
            </div>

            <div class="side-item">
               <a href="category.html"> <i class="fas fa-briefcase fa-x"> <b>Categories</b></i></a>
            </div>

            <div class="side-item admin">
               <a href="sales.html"> <i class="far fa-money-bill-alt fa-x"> <b>Sales</b></i></a>
            </div>
            <div class="side-item attendant">
               <a href="sales_add.html"> <i class="far fa-money-bill-alt fa-x"> <b>Add Sales</b></i></a>
            </div>

            <div class="side-item attendant">
               <a href="userprofile.html"> <i class="fas fa-user"> <b>Profile</b></i></a>
            </div>
            <div class="side-item attendant">
               <a href="sales_record.html"> <i class="far fa-money-bill-alt fa-x"> <b>My Record</b></i></a>
            </div>  <div id="error-message">
          
            </div>
            <div class="side-item admin">
               <a href="users.html"> <i class="fas fa-users"> <b>Users</b></i></a>
            </div>
    </div>

        <div class="content-container">
            <div class="head-actions">
            <div class="head-arrow">
            <a href="products.html"><button><i class="fas fa-arrow-left fa-2x"></i></button></a>
            </div>
             <h3 class="head-left">Profile</h3>
            </div>
        <form >
            <div class="card-list">
           
                <ul>
                 <h3> Information</h3> 
                  <div class="sale-form">
                 <ul><img  src="../assets/images/prof.svg"></ul>
                
                <ul>
                <label>Name</label>
                <p id="thename"></p>
                </ul>

                 <ul>
                 <label>Email</label>
                 <p id ="mymail"></p>
                 </ul>
                

                 <ul>
                    <label>Role</label><p id="role"></p></ul>
                </ul>
                
                </div>
        
            

        </div>
        <div class="endbar">
            <div class="endbar-item">
               <ul> <h3>Summary </h3> </ul>
               <ul>
                    <label>Total Sales</label><p id="sales"></p>
                </ul>

                <ul>
                     <label>Total Worth of Goods</label><p id="total"> $</p>
                </ul>
            </div>
        
    
    </div>

   

    </form>
    
</body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closenav()">&times;</a>
 
  <a href="dashboard.html">Dashboard</a>
  <a href="products.html">Products</a>
  <a href="category.html">Categories</a>
  <a href="sales.html">Sales</a>
  <a href="userprofile.html">Profile</a>
  <a href="sales_record.html">My record</a>
  <a href="users.html">Users</a>
</div>
<script src="../assets/js/app.js"> </script>
<script src="../assets/js/profile.js"> </script>

</html>