<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
	<title>Store Manager | add-product </title>
</head>

<body>

 <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x" onclick="shownav()"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>

        <div class="dropdown">
            <img class="prof" src="../assets/images/prof.svg">
            <div class="dropdown-content">
              <a href="../../index.html">Logout</a>
            
            </div>
          </div>
       
    </nav>

    
    <div class="card-container">
        <div class="sidebar">
        <div class="side-item">
               <a href="dashboard.html"><i class="fas fa-home fa-x"> <b>Dashboard</b></i></a>
            </div>
            <div class="side-item">
               <a href="products.html"> <i class="fab fa-product-hunt fa-x"> <b>Products</b></i> </a>
            </div>

            <div class="side-item">
               <a href="category.html"> <i class="fas fa-briefcase fa-x"> <b>Categories</b></i></a>
            </div>

            <div class="side-item">
               <a href="sales.html"> <i class="far fa-money-bill-alt fa-x"> <b>Sales</b></i></a>
            </div>

            <div class="side-item">
               <a href="userprofile.html"> <i class="fas fa-user"> <b>Profile</b></i></a>
            </div>
            <div class="side-item">
               <a href="sales_record.html"> <i class="far fa-money-bill-alt fa-x"> <b>My Sales Record</b></i></a>
            </div>
            <div class="side-item">
               <a href="users.html"> <i class="fas fa-users"> <b>Users</b></i></a>
            </div>
        </div>
        <div class="content-container">
            <div class="head-actions">
            <div class="head-arrow">
            <a href="sales_record.html"><button><i class="fas fa-arrow-left fa-2x"></i></button></a>
            </div>
             <h3 class="head-left">Sale</h3>
            </div>
        
            
            <div class="table-list">
                <table>
                    <ul><h2>products</h2></ul>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="detail">
                            <td><img class="wrapper" src="../assets/images/book.jpg"></td>
                            <td>Django, Third Edition by Vance Williams</td>
                            <td>Education</td>
                            <td>10</td> 
                            <td>$39.99</td>
                        </tr>
                         <tr class="detail">
                            <td><img class="wrapper" src="../assets/images/book.jpg"></td>
                            <td>Django, Third Edition by Vance Williams</td>
                            <td>Education</td>
                            <td>10</td> 
                            <td>$39.99</td>
                        </tr>
                    </tbody>
                    
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>79.98</td>
                        <tr>
                    
                </table>
            
                 <ul>
                        <div class="tr">
                        <button><i class="fas fa-angle-left"></i></button>
                          <button><i class="fas fa-angle-right"></i></button>
                        </div>
                </ul>          
            </div>
        <div>
        
            <div class="table-list">
                <div class="card">
                <h3>Attendant</h3>
                <p>Name: Pius</p>

                <h3>Customer</h3>
                <p>Name: kevin</p>

                 <h3>Date Recorded</h3>
                <p>Date: 09/11/2018</p>
                </div>
            </div>
            
     
</body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closenav()">&times;</a>
 
  <a href="dashboard.html">Dashboard</a>
  <a href="products.html">Products</a>
  <a href="category.html">Categories</a>
  <a href="sales.html">Sales</a>
  <a href="userprofile.html">Profile</a>
  <a href="sales_record.html">My record</a>
  <a href="users.html">Users</a>
</div>
<script src="../assets/js/app.js"> </script>

</html>