body{
    margin: 0;
    background-color:#f2f2f2;
}

.logo{
    font-family: 'Lobster', cursive;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 33px;
    color: white;
}

nav{
    width: 100%;
    max-width: 100%;
    background-color: #2bb673;
    margin-top: 0%;
    grid-area: header;
    display: grid;
    grid-template-columns:100px 500px 10px;
    grid-column-gap: 300px; 
    grid-template-rows: 70px;
    

}

nav .fas{
    color: white;
    margin-left: 50px;
    margin-top: 24px;
    cursor: pointer;
}

nav input{
    margin-top: 25px;
    height: 30px;
    width: 100%;
    background-color: white;
}

nav button{
    background-color: white;
    height: 30px;
    border-radius: 2px;
}

.front-align{
    display: flex;
}

.prof{
    margin-top:15px;
    cursor: pointer;
    width: 50px;
}

.auth-container{
    display: grid;
    box-shadow: 0 4px 8px 0 black;
    box-sizing: border-box;
    border-radius: 5px;
    width: 750px;
    grid-template-columns: 50% 50%; 
    margin: 5% auto;
}

.form-container{
    background-color:#f2f2f2;
    text-transform: uppercase;
}

.form-container button{
    background-color: lightblue;
    border-color: lightgray;
    color:white;
    margin-top:20px;
    border-radius: 4px;
    width: 150px;
    padding: 10px;
}
.option-menu{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: white;
}

.option-menu button{
    background-color: transparent;
    border-color: lightblue;
    color: lightblue;
    border-radius: 4px;
    width: 150px;
    padding: 10px;
}

form input{
    background-color: white;
    width: 80%;
    height: 30px;
    overflow: visible;
}
form input:focus{
    background-color: rgb(250, 255, 189);
}

.lead{
    font-size: 24px;
}

.container {
    
    display: grid;
    grid-template-columns: 20% 70%;
    grid-column-gap: 0%;
    margin-top: 40px;
}

.card-container {
    
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-column-gap: 0%;
    margin-top: 40px;
}

.card-container h3{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.sidebar{
    display: flex;
    flex-direction: column; 
    width: 200px;
    height: 100%;
    margin-top: 100px;
   
}


.sidebar i{
    color: gray;
    margin-bottom: 50px;
    cursor: pointer;
}

.sidebar i:hover{
  color: #2bb673;
}

.side-item{
    margin-left: 50px;
}
.content-container{
    margin: 0%;
    
}

.head-actions{
    display: flex;
    flex-direction: row;
    align-items: flext-start; 
    margin: 0%;
}
.btn-left button{
    background-color: #03a9f4;
    color: black;
    font-size: 16px;
    margin-left: 600px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.table-list{
    background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    width: 90%;
    flex-direction:column;
    border-radius: 10px;
}

.table-list ul{
    
    padding:8px 2px;
    text-align: left;
    vertical-align: inherit;
    width: 100%;
}

.container{
    width: 100%;
}



.table-list .tr{
    display: flex;
    height: 10px;
    margin-left: 90%;
   
}

.tr button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block; 
    background: transparent;
    border-color:  transparent;  

}

.tr button:hover{
    background: transparent;
    background-color:#f2f2f2;
}

.table-list .td b{
    color: #616161;
    font-size: 0.8125rem;
    font-weight: 400;
}

.table-list img{

    height: 40px;
    
}

.wrapper{
    color: #bdbdbd;
    border: 1px solid #eaeaea;
    padding: 4px;
    background: none;
    border-radius: 2px;
    margin-bottom: 10%;
    margin-left: 20px
}

table{
    width: 100%;
    display: table;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
    padding-left: 5px;
}

td, th{
    display: table-cell;
    padding: 4px 24px 4px 0;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
   
}

td i{
    cursor: pointer;
}

.head-arrow{
    display: flex;
}

.head-arrow button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block; 
    background: transparent;
    border-color:  transparent; 
}

.head-arrow button:hover{
    background-color: white;
}

.head-left{
    margin-left: 700px;
}

.line{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden
}



.endbar-item{
    background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: inherit;
    flex-grow: 1;
    flex-direction:column;
    flex-shrink: inherit;
    border-radius: 10px;
    justify-content: center;

}

.endbar-item input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
}

.sales-card-list{
    background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction:column;
    flex-shrink: inherit;
    border-radius: 10px;;

}

.sale-form{
    display: grid;
    grid-template-columns: 50% 50%;

}
.prof-pic{
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #5AB378;
}


.sale-form button{

    margin-left: 90%;
}

.save-sale{
    color: white;
    background-color: #03a9f4;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-left:45%

}


.card-list{
    background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    width: 90%;
    height: inherit;
    flex-grow: 2;
    flex-direction:column;
    flex-shrink: inherit;
    border-radius: 10px;
    justify-content: center;
}

.card-list input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
   
}

.table-list input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
    margin-left: 40px;
}

.table-list label{
    margin-left: 40px;
}

.table-list input:focus{
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673;
} 

.table-list textarea{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 85%;
    height: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
}

.table-list textarea:focus{
    display: flex;
    flex-grow: inherit;
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673;
}


.endbar-item select{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
    background-color: transparent;
}

.sale-form select{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
    background-color: transparent;
}

.sale-form input:focus{
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673
}

.sale-form input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 70%;
    margin-left: 40px;
}

.endbar-item select:focus{
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673
}

.endbar-item input:focus{

    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673

}


.card-list input:focus{
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673;
}  

.card-list textarea{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 85%;
    height: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
}

.card-list textarea:focus{
    display: flex;
    flex-grow: inherit;
    outline: 0;
    border-width: 0 0 2px;
    background-color: white !important;
    border-color:#2bb673;
}

.card-list img{

    height: 100px;
    
}

.card-list .img-container{
    top: 0;
    left: 0;
    width: 140px;
    cursor: move;
    height: 140px;
    display: none;
    padding: 16px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}
.card-list label{
    color: #2bb673;
}

.endbar-item label{
    color: #2bb673;
}

.save{
    color: white;
    background-color: #03a9f4;
    width: 150px;
    height: 40px;
    border-radius: 5px;

}


.Delete{
    color: white;
    background-color: red;
    width: 150px;
    height: 40px;
    border-radius: 5px;

}

.cancel{
    color: black;
    background-color:#f2f2f2;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.custom-file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: column;

}



.dropdown {
    position: inline-block;
    display: flex;
    width: 50px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    margin-top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dash{
    
    display: grid;
    width: 100%;
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
}

.dash-items{
    background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 20% 80%;
    grid-column-gap: 20px;
    flex-shrink: inherit;
    border-radius: 10px;
    
}


.dash-items i{
    color: #2bb673;
}

.dash-items h3{
    color: #2bb673;
    cursor: pointer;
}
.dash-items a{
    text-decoration: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.title{
    color: #2bb673;
}

#error-message{
    display: flex;
    align-items: center;
    flex-direction: column;

}

#error-message-item{
 background-color: white;    
    box-shadow: black;
    transition: 0.3s;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
}



 .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 50px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        height:30%;
    }


@media only screen and (max-width: 768px) {
    .auth-container{
        grid-auto-columns: 25% 25%;
    }

    nav{
        width: 100%;
        grid-template-columns: 10px 100px 20px;
        grid-column-gap: 200px;
    }

    nav input{
        display: none;
    }

    nav form button{
        display: none;
    }

    .sidebar{
        display: none;
    }
    
    .content-container{
        width: 100%;
    }

    .table-list{
        width: 100%;
    }

    .head-actions{
        flex-direction: column;
        width: 100%;
    }

    .card-list{
        width: 100%
    }

    .card-container{
        grid-template-columns: 100%;
    }

    .endbar-item{
        justify-content: center;
        flex-direction: column;
    }

    .head-left{
        margin-left: 500px;
    }

    .btn-left button{
        margin-left: 500px;
        margin-bottom: 100px;
    }

    .dash{
        width: 100%;
        grid-template-columns: 100%;
    }

    .dash-items{
        width: 100%;
        grid-template-columns: 20% 80%;
    }
    
    .container{
        width: 100%;
        grid-template-columns: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .auth-container{
        grid-auto-columns: 25% 25%;
    }

    nav{
        width: 100%;
        grid-template-columns: 10px 50px 20px;
        grid-column-gap: 100px;
    }

    nav input{
        display: none;
    }

    nav form button{
        display: none;
    }

    .sidebar{
        display: none;
    }
    
    .content-container{
        width: 100%;
    }

    .table-list{
        width: 100%;
    }

    .head-actions{
        flex-direction: column;
        width: 100%;
    }

    .card-list{
        width: 100%
    }

    .card-container{
        grid-template-columns: 100%;
    }

    .endbar-item{
        justify-content: center;
        flex-direction: column;
    }

    .head-left{
        margin-left: 200px;
    }

    .btn-left button{
        margin-left: 200px;
        margin-bottom: 50px;
    }

    .dash{
        width: 90%;
        grid-template-columns: 100%;
    }

    .dash-items{
        width: 100%;
        grid-template-columns: 20% 80%;
    }
    
    .container{
        width: 100%;
        grid-template-columns: 100%;
    }

    table{
        width: 100%;
        display: table;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        border-spacing: 0;
        border-collapse: collapse;
        padding-left: 2px;
    }
    
    td, th{
        display: table-cell;
        padding: 2px  6px 4px 0;
    
    }

} 